<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poison Dart Frog</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Poison Dart Frog</h1>

    <p class="main-paragraph">Poison dart frogs are one of the planet’s most brightly colored animals. Depending on the species, they can be yellow, copper, gold, red, blue, green, black or a combination of those colors. Their showy colors and startling designs help warn predators of the danger they impose -- a defense mechanism known as “aposematic coloration.” Within their skin, they store natural venom that can paralyze, or even kill, a predator.</p>

    <img src="../../img/dart-frog.jpg" alt="">

  </body>
</html>
