<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flamingo</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Flamingo</h1>

    <p class="main-paragraph">Flamingos are one of the most ancient species of bird still living. Their bright colors and plumage along with their odd feeding habits distinguish them from other tropical species. A staple of zoos across the world, wild flamingos can be found in tropical and temperate regions near bodies of water and often near rainforests.</p>

    <img src="../../img/flamingo.jpg" alt="">

  </body>
</html>
