<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jaguar</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Jaguar</h1>

    <p class="main-paragraph">Jaguars can reach up to six feet in length -- from their nose to the tip of their tail -- and stand up to three feet tall at the shoulder. The average male jaguar weighs about 120 pounds, but some individuals can weigh as much as 300 pounds. At birth most jaguars weigh only two pounds. Jaguars are most famous for their beautiful spotted coats. The spots are broken rosettes, rather than true spots like a leopard. These allow the jaguar to hide amongst the grasses, bushes and trees that dominate its habitat.</p>

    <img src="../../img/jaguar.jpeg" alt="">

  </body>
</html>
