<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monkey</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Monkey</h1>

    <p class="main-paragraph">Agile and lean, monkeys weigh only 3 - 9 pounds (1.36 - 4.9 kilograms). The fur of the monkey varies, but is most commonly seen with cream or light tan coloring around the face, neck and shoulders. The rest of its coat is dark brown. The hair is shorter and darker on the monkey's back than on other parts of its body. The face of this cute monkey will range from white to pink in color. The tail is long, covered in hair and is partially able to wrap around branches.</p>

    <img src="../../img/monkey.JPG" alt="">

  </body>
</html>
