<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Toucan</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Toucan</h1>

    <p class="main-paragraph">Best known for its oversized bill, the toucan is a large and colorful bird with black plumage, a bright yellow throat and cheeks, vibrant red feathers under its tail and a yellow-green face. Its light green, banana-shaped bill is splashed with orange and tipped with red and blue, and can grow to be a third of the size of the toucan’s 20-inch body. Though heavy looking, the bill is actually quite light because it is made of protein and supported by hollow bones. The toucan’s very broad wings, however, are heavy and make flight laborious.</p>

    <img src="../../img/toucan.jpg" alt="">

  </body>
</html>
