<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Broadleaf Trees</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Broadleaf Trees</h1>

    <p class="main-paragraph">A broad-leaved tree is any tree that has wide leaves, rather than slim, needle-like leaves as found in conifers. Most broad-leaved trees are deciduous, such as birch, elm, oak, and maple, but some such as arbutus and live oak are evergreen; the latter type are most common in subtropical or tropical climates. These are the ones found in the Amazon Rainforest as you can see in the image below.</p>

    <img src="../../img/broadleaf-trees.jpg" alt="">

  </body>
</html>
