<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bromeliad</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Bromeliad</h1>

    <p class="main-paragraph">There are more than 2,700 species of bromeliads. One of the most well-known bromeliads is the pineapple. Bromeliads typically have bright red, orange, purple or blue flowers, and can grow in a number of different ways: they can be terrestrial, growing on the ground; saxicolous, growing on rocks; or epiphytic, growing on other plants and trees. Epiphytic bromeliads have the ability to absorb nutrients and moisture from the atmosphere, so they are sometimes called "air plants." Hundreds of these plants can grow on branches of tropical trees, sometimes causing the branches to break under their weight.</p>

    <img src="../../img/bromeliad.jpg" alt="">

  </body>
</html>
