<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Orchid</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Orchid</h1>

    <p class="main-paragraph">Popular around the globe for their beauty and variety, orchids are the largest family of plants in the entire world. There are 25,000 - 30,000 different species of orchid, at least 10,000 of which can be found in the tropics. Orchid species can differ greatly from one another, with extreme variations in size, weight and color. While some orchids may only be the size of a nickel when in bloom, others may weigh up to one ton with petals as long as 30 inches, and sprays of small flowers 12 - 14 feet long.</p>

    <img src="../../img/orchid.jpg" alt="">

  </body>
</html>
