<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Palm</title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/plants-animals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h3 class="go-back">
      <a href="../../index.html">Go Back</a>
    </h3>

    <h1 class="title">Palm</h1>

    <p class="main-paragraph">Palm trees are a botanical family of perennial lianas, shrubs, and trees. They are the only members of the family Arecaceae, which is the only family in the order Arecales. They grow in hot climates. There are about 2600 species of palm trees, most of them living in tropical, subtropical, and warm temperate climates.Palms are one of the best known and most widely planted tree families. They have held an important role for humans throughout much of history. Many common products and foods come from palms. They are often used in parks and gardens that are in areas that do not have heavy frosts.</p>

    <img src="../../img/palm.jpg" alt="">

  </body>
</html>
